# requirements.txt
selenium
selenium-wire
pytest
pytest-html
allure-pytest
pyodbc
sqlalchemy
spacy
transformers
sentence-transformers
deepdiff
prance
openapi-core
openai
pyyaml
fuzzywuzzy
python-Levenshtein
faker
coverage
pytest-rerunfailures
flake8 
black
pytesseract
Pillow
pytest-allure-adaptor


