# requirements.txt
selenium
selenium-wire
pytest
pytest-html
allure-pytest
pyodbc
sqlalchemy
spacy
transformers
sentence-transformers
deepdiff
prance
openapi-core
pyyaml
fuzzywuzzy
python-Levenshtein
faker
